* {
  box-sizing: border-box;
}

.projects {
  padding-top: 4px;


}

.projectText {
  width: 50vw;
  max-width: 500px;
}

.project {
  display: flex;
}


.musicText {
  width: 80vw;
  flex:5;
  padding-right: 30px;
}

.videoFrame {
  width: 80vw;
  height: 45vw;
}

.videos {
  padding-right: 50px;
}

.bio {
  padding-top: 4px;
  display: flex;
}

.image {
  flex:5vw;
  margin-left: 3vw;
  margin-right: 3vw;
  border: 8px solid #010844;
  background-color: #9098dc;
  max-width: 20vw;
  max-height: 20vw;
}

.biotext {
  min-width: 60vw;
  flex:5;
  padding-right: 30px;
}


.projectHeader {
  margin-bottom: 30px;
}

body {
  display: flex;
  overflow-x: hidden;
  white-space: normal;
  font-family: sans-serif;
  margin: 3vw;
  margin-right: 0px;
  background-color: #e5dbff;
  padding-left: 8vw;
  padding-right: 5vw;
  max-width: 80vw;
}

h1, h2 {
  color: #333333;
  text-align: left;
}


ul.nav {
  text-align: left;
  padding-left: 0;

  color: #333333;
  list-style-type: none;
}

ul.nav > li {
  text-align: center;
  display: inline-block;

  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #9098dc;
}

ul.nav > li:link {
  text-decoration: none;
}

ul.nav > li:visited {
  text-decoration: none;
}

ul.nav > li:hover {
  text-decoration: none;
  background-color: #010844;
}

ul.nav > li:active {
  text-decoration: none;
}

p {
  text-align: left;
}

.app {
  
  text-align: left;
  align-items: center;
}

