* {
  box-sizing: border-box;
}

.music {
  display: flex;
  height: 100%;
}

.audio {
  flex:5;
}

.videos {
  flex:5;
  padding-right: 10%;
}

.image {

  border: 8px solid #010844

}

.bio {
  display: flex;
}

.biotext {
  padding-right: 10%;
}

.projectHeader {
  margin-bottom: 30px;
}

body {
  font-family: sans-serif;
  margin: 3rem;
  background-color: #e5dbff;
}

h1, h2 {
  color: #333333;
  text-align: left;
}


ul.nav {
  text-align: left;
  padding-left: 0;
  color: #333333;
  list-style-type: none;
}

ul.nav > li {
  text-align: center;
  display: inline-block;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #9098dc;
}

ul.nav > li:link {
  text-decoration: none;
}

ul.nav > li:visited {
  text-decoration: none;
}

ul.nav > li:hover {
  text-decoration: none;
  background-color: #010844;
}

ul.nav > li:active {
  text-decoration: none;
}

p {
  text-align: left;
}

.app {
  padding-left: 10%;
  padding-right: 10%;
  text-align: left;
  align-items: center;
}

