* {
  box-sizing: border-box;
}

.projects {
  padding-top: 4px;
  max-width: 500px;
}


.music {
  display: flex;
}

.audio {
  flex:5;
}

.videos {
  flex:5;
  padding-right: 50px;
}

.bio {
  padding-top: 4px;
  display: flex;
}

.image {
  flex:5;
  margin-right: 30px;
  border: 8px solid #010844
}

.biotext {
  min-width: 500px;
  flex:5;
  padding-right: 30px;
}


.projectHeader {
  margin-bottom: 30px;
}

body {
  display: flex;
  overflow-x: auto;
  white-space: pre-wrap;
  font-family: sans-serif;
  margin: 3rem;
  background-color: #e5dbff;
  padding-left: 200px;
  padding-right: 200px;
}

h1, h2 {
  color: #333333;
  text-align: left;
}


ul.nav {
  text-align: left;
  padding-left: 0;
  color: #333333;
  list-style-type: none;
}

ul.nav > li {
  text-align: center;
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #9098dc;
}

ul.nav > li:link {
  text-decoration: none;
}

ul.nav > li:visited {
  text-decoration: none;
}

ul.nav > li:hover {
  text-decoration: none;
  background-color: #010844;
}

ul.nav > li:active {
  text-decoration: none;
}

p {
  text-align: left;
}

.app {
  
  text-align: left;
  align-items: center;
}

